// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-container {
	height: 400px;
	padding: 20px;
	background-color: rgba(28,24,20,.85);
  border-radius: 6px;
}

.container-products h1 {
	color: white;
}

.show-container {
	background-color: rgba(28,24,20,.75);
  border-radius: 10px;
	margin: 100px;
	padding: 40px;
}

.product-image {
	max-height: 280px;
	padding-bottom: 10px;
}

.figure-caption {
	font-size: 1.2em;
	color: #d4f5f5;
}

.navbar-buffer {
	height: 56px;
}

 h1 {
	font-family: Orbitron;
}

body {
  background-image: image-url('background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 10vh 10vw;
  margin: none;
}

.text-header {
    color: #b8320b;
}
.content {
    color: #d4f5f5;
}
.accent {
    background-color: #d5a021;
}
